button {
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #385aa8;
}

.mainContainer {
    margin-left: 250px;
}

.leftSide {
    margin-left: 25px;
    float: left;
    width: 48%;
}

.rightSide {
    margin-left: 25px;
    float: right;
    width: 48%;
}

.flatLabel {
    display: inline;
    margin-left: 25px;
}

.calendar {
    margin: 0 auto;
    max-width: 1300px;
}

a {
    color: #385aa8 !important;
}

th {
    padding: 5px;
    border: 1px solid;
    margin: 10px;
    width: 99%;
    background-color: #385aa8;
    color: whitesmoke;
}

button {
    background-color: #385aa8 !important;
}

button:hover {
    background-color: #4891ce !important;
}

span {
    display: flex !important;
    align-items: center !important;
}

.jovenTable {
    padding: 5px;
    border: 1px solid;
    margin: 10px;
    width: 99%;
    table-layout: fixed;
}

.jovenTh {
    padding: 5px;
    border: 1px solid;
    margin: 10px;
    width: 99%;
    background-color: #385aa8;
    color: whitesmoke;
}

.jovenTr {
    padding: 5px;
}

.jovenTr:nth-child(even) {
    background-color: #77caf2;
}

.jovenTr:nth-child(odd) {
    background-color: #4891ce;
}

.jovenTr:hover {
    background-color: #f6f740;
}

.jovenTd {
    padding: 5px;
    border: 1px solid;
    text-align: center;
}

.navMenu {
    background-color: #4891ce;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.navText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px, 0ps, 8ps, 16px;
    list-style: none;
    height: 60px;
}

.navText a {
    text-decoration: none;
    color: white !important;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.navText a:hover {
    background-color: #77caf2;
    color: #385aa8;
}

.navMenuItems {
    width: 100%;
}

ul {
    width: 100%;
    padding-left: 0px;
}

span {
    margin-left: 16px;
}

img {
    height: 19px;
    width: 19px;
}

.modal {
    position: absolute;
    height: auto;
    width: auto;
    top: 25%;
    left: 25%;
    background-color: #f6f740;
    border: 2px solid darkslateblue;
    border-radius: 25px;
    padding: 50px 150px;
    box-shadow: 5px 5px 10px 5px #385aa8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}