.calendar {
    margin: 0 auto;
    max-width: 1300px;
}

a {
    color: #385aa8 !important;
}

th {
    padding: 5px;
    border: 1px solid;
    margin: 10px;
    width: 99%;
    background-color: #385aa8;
    color: whitesmoke;
}

button {
    background-color: #385aa8 !important;
}

button:hover {
    background-color: #4891ce !important;
}

span {
    display: flex !important;
    align-items: center !important;
}