.navMenu {
    background-color: #4891ce;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.navText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px, 0ps, 8ps, 16px;
    list-style: none;
    height: 60px;
}

.navText a {
    text-decoration: none;
    color: white !important;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.navText a:hover {
    background-color: #77caf2;
    color: #385aa8;
}

.navMenuItems {
    width: 100%;
}

ul {
    width: 100%;
    padding-left: 0px;
}

span {
    margin-left: 16px;
}

img {
    height: 19px;
    width: 19px;
}